body {
  font-family: "Public Sans", sans-serif;
}
.parent {
  border: 5px solid rebeccapurple;
  height: 500px;
  width: 500px;
  position: relative;
  margin-top: 200px;
}
.child {
  border: 3px solid lavender;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
