body {
  font-family: "Public Sans", sans-serif;
  background-color: #dfbbb1;
}
.child {
  border-radius: 15px;
  border: 3px solid #94524a;
  background-color: #fcff6c;
  width: 350px;
  margin: 30px auto;
  text-align: center;
  color: #111d13;
  font-size: xx-large;
}
.blog-1 {
  border: 5px solid #538083;
  border-radius: 15px;
  margin: 30px;
  text-align: center;
  
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  
}
  
